<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload</title>
    <link rel="stylesheet" href="D:\final\static\upload2.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .drag-area {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .drag-area button {
            margin-top: 20px;
        }
    </style>
</head>


<body>

    <div class="header-2">

        <a href="#" class="logo">   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO5RX6tM4fUGQ9H6WE-PQvxP6uMH5ceHraWM9aDyiaW4jnwAOyI9gBuuYG4fmgv_Qf7uo&usqp=CAU" alt="Logo">Recipe Predictor </a>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form>

    </div>



    <div class="header-3">

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="index.html">home</a>
            <a href="index.html">options</a>
            <a href="index.html">category</a>
            <a href="index.html">usage</a>
            <a href="index.html">contact</a>
        </nav>


    </div>
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="hello">Predict</button>
    <script src="D:\final\static\upload3.js"></script>
</body>

</html>
